In [1]:
import pandas as pd
import numpy as np

In [2]:
book = pd.read_csv("C:\\Users\\jhishna2022\\Downloads\\book (1).csv",encoding_errors='ignore')
book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

### EDA

In [3]:
book.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
book_df= book.rename({'User.ID':'userid','Book.Title':'booktitle','Book.Rating':'bookrating'},axis=1)
book_df.head()

   userid                                          booktitle  bookrating
0  276726                                Classical Mythology           5
1  276729                                       Clara Callan           3
2  276729                               Decision in Normandy           6
3  276736  Flu: The Story of the Great Influenza Pandemic...           8
4  276737                             The Mummies of Urumchi           6

In [5]:
book_df[book_df.duplicated()]

      userid                  booktitle  bookrating
5051    2152  Le nouveau soleil de Teur           7
7439    3757        The Magician's Tale           7

In [6]:
book_df= book_df.drop_duplicates(subset=['userid','booktitle'])
book_df

      userid                                          booktitle  bookrating
0     276726                                Classical Mythology           5
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[9993 rows x 3 columns]

#### Number of Unique users in the dataset

In [7]:
len(book_df.userid.unique())

2182

In [8]:
len(book_df.booktitle.unique())

9659

In [9]:
user_book_df = book_df.pivot(index='userid',columns='booktitle',values='bookrating').reset_index(drop=True)

In [10]:
user_book_df

booktitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zoot Suit and Other Plays,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_book_df.index = book_df.userid.unique()

In [12]:
user_book_df

booktitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zoot Suit and Other Plays,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
162121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
user_book_df.fillna(0,inplace=True)

In [14]:
user_book_df

booktitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zoot Suit and Other Plays,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# import libraries to find similarity
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

### Similarities between two readers

In [16]:
user_sim = 1 - pairwise_distances( user_book_df.values,metric='cosine')

In [17]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [18]:
#Store results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

###### Set the index and column names to user ids

In [19]:
user_sim_df.index = book_df.userid.unique()
user_sim_df.columns = book_df.userid.unique()

In [20]:
user_sim_df.iloc[0:10,0:10]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754
276726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
276745,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
276747,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
276748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
276751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
276754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
np.fill_diagonal(user_sim,0)
user_sim_df.iloc[0:10,0:10]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276747,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Most Similar Users

In [22]:
user_sim_df.idxmax(axis=1)[0:10]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
276745    276726
276747    276726
276748    161677
276751    276726
276754    276726
dtype: int64

In [24]:
book_df[(book_df['userid']==276729) | (book_df['userid']==276726)]

   userid             booktitle  bookrating
0  276726   Classical Mythology           5
1  276729          Clara Callan           3
2  276729  Decision in Normandy           6

- From this we can say that, we can recommend the book 'Decision in Normandy' to userid 276726, because it has high ratings.

In [25]:
book_df[(book_df['userid']==276736) | (book_df['userid']==276726)]

   userid                                          booktitle  bookrating
0  276726                                Classical Mythology           5
3  276736  Flu: The Story of the Great Influenza Pandemic...           8

- We can recommend the book'Flu: The Story of the Great Influenza Pandemic...' to userid 276726, because its rating is very good.

In [29]:
book_df[(book_df['userid']==276748) | (book_df['userid']==161677)]

      userid                                          booktitle  bookrating
12    276748                                 The Middle Stories           6
9190  161677                           The Biggest Pumpkin Ever           8
9191  161677  The Twelve Dancing Princesses: A Folk Tale fro...           9
9192  161677                                       Do You Know?           5
9193  161677             The good-by day (A Little golden book)           8
9194  161677         Pooh Trick or Treat! (Little Golden Books)           6
9195  161677                         Cookie Monster/Cookie Tree           8
9196  161677  My Little Golden Book of Cars and Trucks (Litt...           7
9197  161677  I Think That It is Wonderful: Featuring Jim He...           8
9198  161677                              Grover's Own Alphabet           8
9199  161677   Best Little Word Book Ever! (Little Golden Book)          10
9200  161677    Busiest Firefighters Ever! (Little Golden Book)           7
9201  161677                The Monster at the End of This Book           8
9202  161677                                           Kat Kong           8
9203  161677                           IF YOU'RE AFRAID OF DARK           9

In [26]:
reader1 = book_df[(book_df['userid']==276748)]
reader1

    userid           booktitle  bookrating
12  276748  The Middle Stories           6

In [27]:
reader2 = book_df[(book_df['userid']==161677)]
reader2

      userid                                          booktitle  bookrating
9190  161677                           The Biggest Pumpkin Ever           8
9191  161677  The Twelve Dancing Princesses: A Folk Tale fro...           9
9192  161677                                       Do You Know?           5
9193  161677             The good-by day (A Little golden book)           8
9194  161677         Pooh Trick or Treat! (Little Golden Books)           6
9195  161677                         Cookie Monster/Cookie Tree           8
9196  161677  My Little Golden Book of Cars and Trucks (Litt...           7
9197  161677  I Think That It is Wonderful: Featuring Jim He...           8
9198  161677                              Grover's Own Alphabet           8
9199  161677   Best Little Word Book Ever! (Little Golden Book)          10
9200  161677    Busiest Firefighters Ever! (Little Golden Book)           7
9201  161677                The Monster at the End of This Book           8
9202  161677                                           Kat Kong           8
9203  161677                           IF YOU'RE AFRAID OF DARK           9

In [28]:
pd.merge(reader1,reader2,on='booktitle',how='outer')

,userid_x,booktitle,bookrating_x,userid_y,bookrating_y
0,276748.0,The Middle Stories,6.0,NaN,NaN
1,NaN,The Biggest Pumpkin Ever,NaN,161677.0,8.0
2,NaN,The Twelve Dancing Princesses: A Folk Tale fro...,NaN,161677.0,9.0
3,NaN,Do You Know?,NaN,161677.0,5.0
4,NaN,The good-by day (A Little golden book),NaN,161677.0,8.0
5,NaN,Pooh Trick or Treat! (Little Golden Books),NaN,161677.0,6.0
6,NaN,Cookie Monster/Cookie Tree,NaN,161677.0,8.0
7,NaN,My Little Golden Book of Cars and Trucks (Litt...,NaN,161677.0,7.0
8,NaN,I Think That It is Wonderful: Featuring Jim He...,NaN,161677.0,8.0
9,NaN,Grover's Own Alphabet,NaN,161677.0,8.0
10,NaN,Best Little Word Book Ever! (Little Golden Book),NaN,161677.0,10.0
11,NaN,Busiest Firefighters Ever! (Little Golden Book),NaN,161677.0,7.0
12,NaN,The Monster at the End of This Book,NaN,161677.0,8.0
13,NaN,Kat Kong,NaN,161677.0,8.0
14,NaN,IF YOU'RE AFRAID OF DARK,NaN,161677.0,9.0

- reader2 has given high ratings on many books, which can be recommended to reader1, and the book 'The Middle Stories' can be recommemded to reader2 as well.